In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv("BostonHousing.csv")
dataset.head(6)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [4]:
dataset.shape

(506, 14)

In [5]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["medv"]

In [6]:
#using scikit learn

from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [16]:
# x_train,x_test,y_train,y_test

In [18]:
x_train.shape ,y_train.shape

((379, 13), (379,))

In [19]:
x_test.shape ,y_test.shape

((127, 13), (127,))